Repository topcoder-platform/freeCodeCamp, pull requests merged in 2022-07, with the labels that each got.

#12 PROD-2288 use token.exp to validate the token -> PROD-2231_pasthrough-auth
  api-server/src/server/utils/getSetAccessToken.js
Labels: platform: api

#13 PROD-2031 passthrough auth
  api-server/src/common/models/User-Identity.js
  api-server/src/server/middlewares/request-authorization.js
  api-server/src/server/utils/getSetAccessToken.js
  api-server/src/server/utils/user-stats.js
  client/src/redux/cookieValues.js
  cypress/support/commands.js
  package.json
  sample.topcoder.env
Labels: platform: client, platform: api, scope: tools/scripts

#14 PROD-2419 Host FCC in AWS -> dev
  .dockerignore
  .gitignore
  Jenkinsfile
  api-server/src/server/config.json
  docker/api/ECSDockerfile
Labels: platform: api

#17 PROD-2033 add logging for token verification -> dev
  api-server/src/server/middlewares/request-authorization.js
  api-server/src/server/utils/getSetAccessToken.js
Labels: platform: api

#22 PROD-2033 Remove debug logging for .env -> dev
  Jenkinsfile
  api-server/src/server/middlewares/request-authorization.js
Labels: platform: api

#24 PROD-2033 more logging -> dedv
  api-server/src/server/boot/user.js
  api-server/src/server/middlewares/request-authorization.js
Labels: platform: api

#26 PROD-2033 turn off ssr on dev -> dev
  client/gatsby-ssr.js.bak
Labels: platform: client

#27 PROD-2381 - remove the acceptedPrivacyTerms check and redirect
  client/src/components/layouts/learn.tsx
Labels: platform: client

#28 PROD-2382 - replace mobile tabs with dropdown pane picker
  client/src/assets/icons/chevron-down.tsx
  client/src/components/layouts/variables.css
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/mobile-layout.tsx
  client/src/templates/Challenges/classic/mobile-pane-selector.css
  client/src/templates/Challenges/classic/mobile-pane-selector.tsx
  client/src/templates/Challenges/components/side-panel.css
  client/src/templates/Challenges/components/tool-panel.css
Labels: platform: client

#30 PROD-2553 fix color for primary button on focus
  client/src/components/layouts/global.css
Labels: platform: client

#31 PROD-2560 - fix issue where hints flash when you resubmit
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/lower-jaw.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/side-panel.tsx
  client/src/templates/Challenges/components/tool-panel.tsx
  client/src/templates/Challenges/redux/action-types.js
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/redux/index.js
Labels: platform: client

#36 PROD-2456 configure shortened course -> dev
  client/utils/help-category-map.json
  curriculum/challenges/_meta/learn-html-by-building-a-cat-photo-app-qa/meta.json
  curriculum/challenges/english/14-responsive-web-design-22-qa/learn-basic-css-by-building-a-cafe-menu-qa/cccccccccccccccccccccccc.md
  curriculum/challenges/english/14-responsive-web-design-22-qa/learn-basic-css-by-building-a-cafe-menu-qa/dddddddddddddddddddddddd.md
  curriculum/challenges/english/14-responsive-web-design-22-qa/learn-html-by-building-a-cat-photo-app-qa/eeeeeeeeeeeeeeeeeeeeeeee.md
  curriculum/challenges/english/14-responsive-web-design-22-qa/learn-html-by-building-a-cat-photo-app-qa/ffffffffffffffffffffffff.md
  utils/preformatted-block-names.json
Labels: platform: client, scope: i18n, scope: tools/scripts, scope: curriculum

#33 Prod 2562 certification navigation handle
  client/src/assets/icons/index.tsx
  client/src/templates/Challenges/redux/completion-epic.js
  client/src/utils/iframe-message.ts
  curriculum-server/source-curriculum.ts
  curriculum/utils.js
  utils/index.js
Labels: platform: client, scope: tools/scripts

#34 PROD-2585 - Fix issue with fcc reserved & get help link
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/multifile-editor.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/tool-panel.tsx
Labels: platform: client

#35 PROD-2606 - fix height of preview iframe
  client/src/templates/Challenges/classic/show.tsx
Labels: platform: client

#37 PROD-2504 - prevent FCC donate modal
  client/src/components/layouts/learn.tsx
  client/src/redux/action-types.js
  client/src/redux/index.js
  client/src/templates/Challenges/components/completion-modal.tsx
  client/src/templates/Challenges/components/tool-panel.tsx
  client/src/templates/Introduction/super-block-intro.tsx
Labels: platform: client

#38 PROD-2456 lesson page style issues -> dev
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: client
