Repository topcoder-platform/freeCodeCamp, pull requests merged in 2022-08, with the labels that each got.

#40 PROD-2649 - handle mobile fixes
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/mobile-layout.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/output.css
  client/src/templates/Challenges/components/tool-panel.tsx
Labels: platform: client

#41 PROD-2741 Topcoder Academy MVP -> prod
  Jenkinsfile
  README-TOPCODER.md
  api-server/src/server/middlewares/request-authorization.js
  client/gatsby-config.js
  client/i18n/locales/english/intro.json
  client/src/assets/icons/chevron-down.tsx
  client/src/assets/icons/index.tsx
  client/src/components/layouts/global.css
  client/src/components/layouts/learn.tsx
  client/src/components/layouts/variables.css
  client/src/pages/learn/2022/responsive-web-design-qa/index.md
  client/src/pages/learn/2022/responsive-web-design-qa/learn-basic-css-by-building-a-cafe-menu-qa/index.md
  client/src/pages/learn/2022/responsive-web-design-qa/learn-html-by-building-a-cat-photo-app-qa/index.md
  client/src/redux/action-types.js
  client/src/redux/index.js
  client/src/resources/cert-and-project-map.ts
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/lower-jaw.tsx
  client/src/templates/Challenges/classic/mobile-layout.tsx
  client/src/templates/Challenges/classic/mobile-pane-selector.css
  client/src/templates/Challenges/classic/mobile-pane-selector.tsx
  client/src/templates/Challenges/classic/multifile-editor.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/completion-modal.tsx
  client/src/templates/Challenges/components/output.css
  client/src/templates/Challenges/components/side-panel.css
  client/src/templates/Challenges/components/side-panel.tsx
  client/src/templates/Challenges/components/tool-panel.css
  client/src/templates/Challenges/components/tool-panel.tsx
  client/src/templates/Challenges/redux/action-types.js
  client/src/templates/Challenges/redux/completion-epic.js
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/redux/index.js
  client/src/templates/Introduction/super-block-intro.tsx
  client/src/utils/iframe-message.ts
  client/utils/gatsby/challenge-page-creator.js
  client/utils/gatsby/layout-selector.tsx
  client/utils/help-category-map.json
  config/certification-settings.ts
  curriculum-server/source-curriculum.ts
  curriculum/challenges/_meta/build-a-personal-portfolio-webpage-project-qa/meta.json
  curriculum/challenges/_meta/learn-basic-css-by-building-a-cafe-menu-qa/meta.json
  curriculum/challenges/_meta/learn-html-by-building-a-cat-photo-app-qa/meta.json
  curriculum/challenges/english/00-certifications/responsive-web-design-certification-qa/responsive-web-design-certification-qa.yml
  curriculum/challenges/english/14-responsive-web-design-22-qa/build-a-personal-portfolio-webpage-project-qa/build-a-personal-portfolio-webpage-qa.md
  curriculum/challenges/english/14-responsive-web-design-22-qa/learn-basic-css-by-building-a-cafe-menu-qa/cccccccccccccccccccccccc.md
  curriculum/challenges/english/14-responsive-web-design-22-qa/learn-basic-css-by-building-a-cafe-menu-qa/dddddddddddddddddddddddd.md
  curriculum/challenges/english/14-responsive-web-design-22-qa/learn-html-by-building-a-cat-photo-app-qa/eeeeeeeeeeeeeeeeeeeeeeee.md
  curriculum/challenges/english/14-responsive-web-design-22-qa/learn-html-by-building-a-cat-photo-app-qa/ffffffffffffffffffffffff.md
  curriculum/utils.js
  package-lock.json
  package.json
  tools/challenge-editor/api/configs/superBlockList.ts
  tools/challenge-helper-scripts/fs-utils.ts
  tools/challenge-helper-scripts/rename-challenge-files.js
  utils/index.js
  utils/preformatted-block-names.json
Labels: platform: client, scope: i18n, platform: api, scope: tools/scripts, scope: curriculum

#42 TCA-105 Rename Responsive Web Design Cert -> dev
  client/i18n/locales/english/intro.json
  tools/challenge-editor/api/configs/superBlockList.ts
Labels: platform: client, scope: i18n, scope: tools/scripts

#44 Tca 299 UI for js course
  client/src/components/formHelpers/block-save-button.tsx
  client/src/components/formHelpers/form-fields.tsx
  client/src/components/formHelpers/form.tsx
  client/src/components/layouts/global.css
  client/src/components/layouts/learn.css
  client/src/components/layouts/prism.css
  client/src/components/layouts/variables.css
  client/src/templates/Challenges/classic/action-row.tsx
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/classic/simple-editor.tsx
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Challenges/components/Hotkeys.tsx
  client/src/templates/Challenges/components/challenge-title.tsx
  client/src/templates/Challenges/components/side-panel.tsx
  client/src/templates/Challenges/components/tool-panel.tsx
  client/src/templates/Challenges/projects/backend/Show.tsx
  client/src/templates/Challenges/projects/frontend/Show.tsx
  client/src/templates/Challenges/projects/solution-form.tsx
  client/src/templates/Challenges/video/Show.tsx
  client/src/templates/Challenges/video/show.css
Labels: platform: client

#43 migrate tests for 'build-a-25-5-clock' project to use FCC instead of …
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-25-5-clock.md
Labels: scope: curriculum

#45 TCA-355 Open External Links in New Window -> dev
  client/src/components/layouts/tc-integration.tsx
Labels: platform: client

#46 TCA-355 Fixes Issue w/FCC external URLs -> dev
  client/src/components/layouts/tc-integration.tsx
Labels: platform: client

#47 TCA-325 Remove Reset Code button from Old Editor -> dev
  client/src/templates/Challenges/components/tool-panel.tsx
Labels: platform: client

#48 TCA-327 Adds Lesson Title to Old Editor -> dev
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/Challenge-Description.tsx
Labels: platform: client

#49 TCA-354 2nd flavor of learn URL for FCC external link -> dev
  client/src/components/layouts/tc-integration.tsx
Labels: platform: client

#50 TCA-326 Suppresses the confirmation modal -> dev
  client/src/templates/Challenges/redux/execute-challenge-saga.js
Labels: platform: client

#51 TCA-314 Add Heap and GTM to FCC -> dev
  client/package.json
  client/src/analytics/google-tag-manater/GoogleTagManager.tsx
  client/src/analytics/google-tag-manater/index.ts
  client/src/analytics/segment/Segment.tsx
  client/src/analytics/segment/index.ts
  client/src/analytics/segment/segment-snippet.js
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/tc-layout.tsx
  config/analytics-settings.js
  package-lock.json
Labels: platform: client

#54 TCA-373 Support FCC Video Links -> dev
  client/src/components/layouts/tc-integration.tsx
Labels: platform: client

#63 TCA-43 Revert Repplit Replacement -> dev
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-25-5-clock.md
Labels: scope: curriculum
