Repository topcoder-platform/freeCodeCamp, pull requests merged in 2022-06, with the labels that each got.

#4 PROD-2106 - update ux according to latest figma
  client/i18n/locales/english/translations.json
  client/src/assets/icons/code.tsx
  client/src/assets/icons/test-hint.tsx
  client/src/components/layouts/global.css
  client/src/components/layouts/variables.css
  client/src/templates/Challenges/classic/action-row.tsx
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/editor-tabs.tsx
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/lower-jaw.tsx
  client/src/templates/Challenges/classic/multifile-editor.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/output.css
  client/static/fonts/barlow/Barlow-Semibold.woff
Labels: platform: client, scope: i18n

#8 Prod-2173 fcc iframe comm
  client/src/templates/Challenges/redux/completion-epic.js
  client/src/templates/Challenges/redux/ifr-message-channel-epic.js
  client/src/templates/Challenges/redux/incoming-iframe-messages-epic.js
  client/src/templates/Challenges/redux/index.js
  client/src/utils/iframe-message.ts
Labels: platform: client

#10 PROD-2211 passthrough existing FCC users -> PROD-2031_passthrough-auth
  api-server/src/common/models/user.js
  api-server/src/server/middlewares/request-authorization.js
  api-server/src/server/utils/getSetAccessToken.js
  api-server/src/server/utils/user-stats.js
  client/src/redux/cookieValues.js
  cypress/support/commands.js
  package.json
  sample.topcoder.env
Labels: platform: client, platform: api, scope: tools/scripts
