Repository topcoder-platform/freeCodeCamp, pull requests merged in 2022-10, with the labels that each got.

#83 TCA-467 - fix label for submit button
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/projects/backend/Show.tsx
Labels: platform: client, scope: i18n

#88 TCA-503 - (backend project) remove the tests output area if there are…
  client/src/templates/Challenges/projects/backend/Show.tsx
Labels: platform: client

#89 TCA-595 Adds logging for 403s -> dev
  api-server/src/server/boot/challenge.js
  client/src/templates/Challenges/redux/completion-epic.js
Labels: platform: client, platform: api

#90 TCA-595 Add Logging for Dev -> dev
  api-server/src/server/boot/challenge.js
Labels: platform: api
