Repository topcoder-platform/freeCodeCamp, pull requests merged in 2022-09, with the labels that each got.

#64 Tca 384 update support mail
  client/src/components/OfflineWarning/offline-warning.tsx
Labels: platform: client

#62 TCA-379 Follow-up & Misc Release 2022-09-01 -> prod
  Jenkinsfile
  client/i18n/locales/english/intro.json
  client/package.json
  client/src/analytics/google-tag-manater/GoogleTagManager.tsx
  client/src/analytics/google-tag-manater/index.ts
  client/src/analytics/segment/Segment.tsx
  client/src/analytics/segment/index.ts
  client/src/analytics/segment/segment-snippet.js
  client/src/components/OfflineWarning/offline-warning.tsx
  client/src/components/formHelpers/block-save-button.tsx
  client/src/components/formHelpers/form-fields.tsx
  client/src/components/formHelpers/form.tsx
  client/src/components/layouts/global.css
  client/src/components/layouts/learn.css
  client/src/components/layouts/prism-night.css
  client/src/components/layouts/prism.css
  client/src/components/layouts/tc-integration.tsx
  client/src/components/layouts/variables.css
  client/src/templates/Challenges/classic/action-row.tsx
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/classic/simple-editor.tsx
  client/src/templates/Challenges/classic/tc-layout.tsx
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Challenges/components/Challenge-Description.tsx
  client/src/templates/Challenges/components/Hotkeys.tsx
  client/src/templates/Challenges/components/challenge-title.tsx
  client/src/templates/Challenges/components/prism-formatted.tsx
  client/src/templates/Challenges/components/side-panel.tsx
  client/src/templates/Challenges/components/tool-panel.tsx
  client/src/templates/Challenges/projects/backend/Show.tsx
  client/src/templates/Challenges/projects/frontend/Show.tsx
  client/src/templates/Challenges/projects/solution-form.tsx
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/video/Show.tsx
  client/src/templates/Challenges/video/show.css
  config/analytics-settings.js
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-25-5-clock.md
  package-lock.json
  tools/challenge-editor/api/configs/superBlockList.ts
Labels: platform: client, scope: i18n, scope: tools/scripts, scope: curriculum

#65 TCA-354 - fix handler for external urls when url is fcc lesson
  client/src/components/layouts/tc-integration.tsx
Labels: platform: client

#66 Removes logging of Mongo URL
  .husky/pre-commit
  api-server/src/server/middlewares/sessions.js
Labels: platform: api

#68 TCA-397 lint issues -> dev
  .husky/pre-commit
  client/src/declarations.d.ts
Labels: platform: client

#74 TCA-425 - Update backend projects to advance to next lesson without c…
  client/src/templates/Challenges/projects/backend/Show.tsx
  client/src/templates/Challenges/projects/solution-form.tsx
Labels: platform: client

#75 Tca 451 update form layout for backend project
  client/src/components/formHelpers/form-fields.tsx
  client/src/components/formHelpers/form.tsx
  client/src/components/layouts/global.css
Labels: platform: client

#78 TCA-443 - persist layout selection in localstorage
  client/src/templates/Challenges/classic/action-row.tsx
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/use-desktop-layout-state.tsx
Labels: platform: client

#80 TCA-43 Fix the preprod issues
  client/src/templates/Challenges/rechallenge/transformers.js
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/utils/worker-executor.js
  curriculum/challenges/_meta/front-end-development-libraries-projects/meta.json
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-25-5-clock.md
Labels: platform: client, scope: i18n, scope: curriculum

#81 TCA-468 TCA-466 - fix issues with input error message
  client/src/assets/icons/warning.tsx
  client/src/components/formHelpers/form-field.css
  client/src/components/formHelpers/form-fields.tsx
  client/src/components/layouts/variables.css
Labels: platform: client

#82 TCA-480 - replace fcc links located in the lesson content
  curriculum/challenges/chinese-traditional/02-javascript-algorithms-and-data-structures/basic-javascript/return-early-pattern-for-functions.md
  curriculum/challenges/chinese-traditional/06-quality-assurance/quality-assurance-and-testing-with-chai/use-assert.isok-and-assert.isnotok.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-javascript/return-early-pattern-for-functions.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/use-assert.isok-and-assert.isnotok.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/return-early-pattern-for-functions.md
  curriculum/challenges/english/03-front-end-development-libraries/redux/create-a-redux-store.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/use-assert.isok-and-assert.isnotok.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/fibonacci-word.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/return-early-pattern-for-functions.md
  curriculum/challenges/espanol/03-front-end-development-libraries/redux/create-a-redux-store.md
  curriculum/challenges/espanol/06-quality-assurance/quality-assurance-and-testing-with-chai/use-assert.isok-and-assert.isnotok.md
  curriculum/challenges/german/02-javascript-algorithms-and-data-structures/basic-javascript/return-early-pattern-for-functions.md
  curriculum/challenges/german/03-front-end-development-libraries/redux/create-a-redux-store.md
  curriculum/challenges/italian/02-javascript-algorithms-and-data-structures/basic-javascript/return-early-pattern-for-functions.md
  curriculum/challenges/italian/03-front-end-development-libraries/redux/create-a-redux-store.md
  curriculum/challenges/italian/06-quality-assurance/quality-assurance-and-testing-with-chai/use-assert.isok-and-assert.isnotok.md
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/basic-javascript/return-early-pattern-for-functions.md
  curriculum/challenges/portuguese/03-front-end-development-libraries/redux/create-a-redux-store.md
  curriculum/challenges/portuguese/06-quality-assurance/quality-assurance-and-testing-with-chai/use-assert.isok-and-assert.isnotok.md
  curriculum/challenges/portuguese/10-coding-interview-prep/rosetta-code/fibonacci-word.md
  curriculum/challenges/ukrainian/02-javascript-algorithms-and-data-structures/basic-javascript/return-early-pattern-for-functions.md
  curriculum/challenges/ukrainian/06-quality-assurance/quality-assurance-and-testing-with-chai/use-assert.isok-and-assert.isnotok.md
Labels: scope: i18n, scope: curriculum
